################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/kentei3/.vs/kentei3/v16/Browse.VC.opendb
*.h
*.obj
*.ipch

